<div class="card">
									<div class="card-header">
										<h3 class="card-title">Current Ticket Status</h3>
										<div class="card-options">
											<a href="#" class="card-options-collapse" data-toggle="card-collapse">
												<i class="fe fe-chevron-up"></i>
											</a>
											<a href="#" class="card-options-fullscreen" data-toggle="card-fullscreen">
												<i class="fe fe-maximize"></i>
											</a>
											<a href="#" class="card-options-remove" data-toggle="card-remove">
												<i class="fe fe-x"></i>
											</a>
										</div>
									</div>
									<div class="card-body">
										<div class="d-sm-flex justify-content-between">
											<div class="font-12">as of 10th to 17th of Jun 2019</div>
											<div class="selectgroup w250">
												<label class="selectgroup-item">
													<input type="radio" name="intensity" value="Day" class="selectgroup-input" checked="">
													<span class="selectgroup-button">1D</span>
												</label>
												<label class="selectgroup-item">
													<input type="radio" name="intensity" value="Week" class="selectgroup-input">
													<span class="selectgroup-button">1W</span>
												</label>
												<label class="selectgroup-item">
													<input type="radio" name="intensity" value="Month" class="selectgroup-input">
													<span class="selectgroup-button">1M</span>
												</label>
												<label class="selectgroup-item">
													<input type="radio" name="intensity" value="Year" class="selectgroup-input">
													<span class="selectgroup-button">1Y</span>
												</label>
											</div>
										</div>
										<div id="chart-combination" style="height: 205px"></div>
									</div>
									<div class="card-footer">
										<div class="row">
											<div class="col-6 col-xl-3 col-md-6">
												<h5>05</h5>
												<div class="clearfix">
													<div class="float-left">
														<strong>35%</strong>
													</div>
													<div class="float-right">
														<small class="text-muted">Yesterday</small>
													</div>
												</div>
												<div class="progress progress-xs">
													<div class="progress-bar bg-gray" role="progressbar" style="width: 35%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span class="text-uppercase font-10">New Tickets</span>
											</div>
											<div class="col-6 col-xl-3 col-md-6">
												<h5>18</h5>
												<div class="clearfix">
													<div class="float-left">
														<strong>61%</strong>
													</div>
													<div class="float-right">
														<small class="text-muted">Yesterday</small>
													</div>
												</div>
												<div class="progress progress-xs">
													<div class="progress-bar bg-gray" role="progressbar" style="width: 61%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span class="text-uppercase font-10">Open Tickets</span>
											</div>
											<div class="col-6 col-xl-3 col-md-6">
												<h5>06</h5>
												<div class="clearfix">
													<div class="float-left">
														<strong>100%</strong>
													</div>
													<div class="float-right">
														<small class="text-muted">Yesterday</small>
													</div>
												</div>
												<div class="progress progress-xs">
													<div class="progress-bar bg-gray" role="progressbar" style="width: 100%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span class="text-uppercase font-10">Solved Tickets</span>
											</div>
											<div class="col-6 col-xl-3 col-md-6">
												<h5>11</h5>
												<div class="clearfix">
													<div class="float-left">
														<strong>87%</strong>
													</div>
													<div class="float-right">
														<small class="text-muted">Yesterday</small>
													</div>
												</div>
												<div class="progress progress-xs">
													<div class="progress-bar bg-gray" role="progressbar" style="width: 87%" aria-valuenow="42" aria-valuemin="0" aria-valuemax="100"></div>
												</div>
												<span class="text-uppercase font-10">Unresolved</span>
											</div>
										</div>
									</div>
								</div>