<div class="row clearfix">
	<div class="col-lg-12">
		<div class="mb-4">
			<h4>Welcome {{user.name.first}} {{user.name.last}}!</h4>
			<small>
				<a href="#"></a>
			</small>
		</div>
	</div>
</div>
